.ih-item.circle.effect15 .img {
  opacity: 1;
  visibility: visible;
  -webkit-transform: scale(1) rotate(0);
  -moz-transform: scale(1) rotate(0);
  -ms-transform: scale(1) rotate(0);
  -o-transform: scale(1) rotate(0);
  transform: scale(1) rotate(0);
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  background: #fff;
  width: 150px;
  height: 150px;
  position: absolute;
}

.ih-item.circle.effect15 .info {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: scale(0.5) rotate(-720deg);
  -moz-transform: scale(0.5) rotate(-720deg);
  -ms-transform: scale(0.5) rotate(-720deg);
  -o-transform: scale(0.5) rotate(-720deg);
  transform: scale(0.5) rotate(-720deg);
  -webkit-transition: all 0.35s ease-in-out 0.3s;
  -moz-transition: all 0.35s ease-in-out 0.3s;
  transition: all 0.35s ease-in-out 0.3s;
}
.ih-item.circle.effect15 .info h3 {
  color: #fff;
  text-transform: uppercase;
  position: relative;
  letter-spacing: 2px;
  font-size: 22px;
  margin: 0 30px;
  padding: 55px 0 0 0;
  height: 110px;
  text-shadow: 0 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.3);
}

.ih-item.circle.effect15 a:hover .img {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: scale(0.5) rotate(720deg);
  -moz-transform: scale(0.5) rotate(720deg);
  -ms-transform: scale(0.5) rotate(720deg);
  -o-transform: scale(0.5) rotate(720deg);
  transform: scale(0.5) rotate(720deg);
}
.ih-item.circle.effect15 a:hover .info {
  opacity: 1;
  visibility: visible;
  -webkit-transform: scale(1) rotate(0);
  -moz-transform: scale(1) rotate(0);
  -ms-transform: scale(1) rotate(0);
  -o-transform: scale(1) rotate(0);
  transform: scale(1) rotate(0);
}
